.header {
  display: flex;
  width: 100%;

  .header-button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100px;

    .active {
      background-color: black;
      color: white;
    }
  }
}
