:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .spinner-block {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .gallery-spinner {
    svg {
      stroke: white;
    }
  }
}
